<div class="flex flex-col gap-4 p-4">
  <!-- Search Input -->
  <div class="filter-bar">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="🔍 Search by title or author"
    class="search-input"
  />

  <!-- Category Filter -->
  <select [(ngModel)]="selectedCategory" class="border p-2 rounded">
    <option value="">All Categories</option>
    <option *ngFor="let category of categories" [value]="category">
      {{ category }}
    </option>
  </select>

  <!-- Progress Filter -->
  <select [(ngModel)]="selectedProgress" class="border p-2 rounded">
    <option value="">All Progress</option>
    <option value="to-read">To Read</option>
    <option value="in-progress">Reading</option>
    <option value="finished">Completed</option>
  </select>
</div>
 </div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
  <app-book-card
    *ngFor="let book of filteredBooks()"
    [book]="book"
    (toggleLike)="onToggleLike($event)"
    (updateProgress)="onUpdateProgress($event)"
    (openNotes)="openNotesDialog($event)"
    (remove)="removeFromLibrary($event)">
  </app-book-card>
</div>
