<app-navbar></app-navbar>
<div class="premium-section">
  <h2>✨ Go Premium!</h2>
  <ul class="premium-features">
    <li>✔️ Unlimited Books to Read</li>
    <li>✔️ Access to Exclusive Books</li>
    <li>✔️ Priority Support</li>
    <li>✔️ Early Access to New Features</li>
  </ul>
  <div class="demo">
    <google-pay-button
      environment="TEST"
      [buttonColor]="buttonColor"
      [buttonType]="buttonType"
      [buttonSizeMode]="isCustomSize ? 'fill' : 'static'"
      [paymentRequest]="paymentRequest"
      [style.width.px]="buttonWidth"
      [style.height.px]="buttonHeight"
      (loadpaymentdata)="onLoadPaymentData($event)">
    </google-pay-button>
  </div>

  <div *ngIf="isPaymentSuccess" class="payment-success-box">
    <span class="success-icon">🎉</span>
    <div>
      <h4>Payment Successful!</h4>
      <p>Enjoy the premium services now, more features are coming your way 🚀</p>
    </div>
  </div>
</div>