.not-found-container {
  text-align: center;
  margin-top: 80px;

  h1 {
    font-size: 3rem;
    color: #5a216a;
  }

  p {
    font-size: 1.2rem;
    color: #666;
  }

  a {
    text-decoration: none;
    color: white;
  }
}
