<div class="form-container">
  <div class="heading">Signup</div>

  <form (ngSubmit)="onSubmit()">
    <label class="emailbox" for="email">Email:</label>
    <div class="EmailInputBox">
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Enter your email"
        required
      />
    </div>

    <label class="passwordbox" for="password">Password:</label>
    <div class="PasswordInputBox">
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Enter your password"
        required
      />
    </div>

    <button class="SubmitBox" type="submit">Signup</button>

    <div class="login-redirect">
  Already have an account? 
  <a routerLink="/login">Login</a>
</div>
  </form>
</div>
