<h2 mat-dialog-title class="text-center">{{ data?.book ? 'Edit Book' : 'Add New Book' }}</h2>

<mat-dialog-content>
  <form [formGroup]="bookForm" class="p-3">
    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Book Title</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Author</mat-label>
      <input matInput formControlName="author">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Category</mat-label>
      <input matInput formControlName="category">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-3">
      <mat-label>Image URL</mat-label>
      <input matInput formControlName="image">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100 mb-3">
  <mat-label>Description</mat-label>
  <textarea matInput formControlName="description" rows="3"></textarea>
</mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="px-3 pb-3">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
